layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    tab name="home" cwd = "~/Documents/wgg/titan/schadenmeldung" {
        pane
    }
    
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
